.container {
	min-height: 100vh;
	max-width: 992px;
	margin: 0 auto;
	padding: 2.5rem 2rem;
	display: flex;
	flex-direction: column;
	section {
		flex: 1;
		display: grid;
		gap: 5rem;
		align-content: center;
	}
}

@media (min-width: 700px) {
	.container {
		section {
			gap: 6.25rem;
			grid-template-columns: 1fr 1fr;
		}
	}
}
