@font-face {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../../public/fonts/rajdhani-v10-latin-600.eot");
    src: local(""), url("../../public/fonts/rajdhani-v10-latin-600.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/rajdhani-v10-latin-600.woff2") format("woff2"),
        url("../../public/fonts/rajdhani-v10-latin-600.woff") format("woff"),
        url("../../public/fonts/rajdhani-v10-latin-600.ttf") format("truetype"),
        url("../../public/fonts/rajdhani-v10-latin-600.svg#Rajdhani") format("svg");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../public/fonts/inter-v3-latin-regular.eot");
    src: local(""), url("../../public/fonts/inter-v3-latin-regular.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/inter-v3-latin-regular.woff2") format("woff2"),
        url("../../public/fonts/inter-v3-latin-regular.woff") format("woff"),
        url("../../public/fonts/inter-v3-latin-regular.ttf") format("truetype"),
        url("../../public/fonts/inter-v3-latin-regular.svg#Inter") format("svg");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../public/fonts/inter-v3-latin-500.eot");
    src: local(""), url("../../public/fonts/inter-v3-latin-500.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/inter-v3-latin-500.woff2") format("woff2"),
        url("../../public/fonts/inter-v3-latin-500.woff") format("woff"),
        url("../../public/fonts/inter-v3-latin-500.ttf") format("truetype"),
        url("../../public/fonts/inter-v3-latin-500.svg#Inter") format("svg");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../../public/fonts/inter-v3-latin-600.eot");
    src: local(""), url("../../public/fonts/inter-v3-latin-600.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/inter-v3-latin-600.woff2") format("woff2"),
        url("../../public/fonts/inter-v3-latin-600.woff") format("woff"),
        url("../../public/fonts/inter-v3-latin-600.ttf") format("truetype"),
        url("../../public/fonts/inter-v3-latin-600.svg#Inter") format("svg");
}
